#  Local .terraform directories
**/.terraform/*

# .tfstate files
#*.tfstate
#*.tfstate.*

# .tfvars files
*.tfvars

# IntelliJ
.idea/

# direnv
.envrc

.DS_Store

# Auto include makefiles
.Makefile.terraform